<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <h5>MyENDING</h5>
        <div class="card  md-3 mt-4">
          <div class="card-body">
          <p>氏名</p>
            <%= @ending.user.last_name %>
            <%= @ending.user.first_name %><br>
          <p>生年月日</p>
            <%= @ending.user.birthday %><br>
          <p>大切な人に伝えたいことや感謝の気持ち</p>
            <%= @ending.feeling %>
             <% if @ending.image.attached? %>
               <%= image_tag @ending.image, size:"200x200" %>
             <% end %>
          <p>エピソード　ー忘れられない記憶や懐かしい思い出ー</p>
             <%= @ending.episode %>

              <% @ending.posts.each do |post| %>
                <div class="card mb-3">
                  <div class="card-body">
                    <h5><%= post.title %></h5>
                    <p><%= simple_format(post.body) %></p>
                    <% if post.image.attached? %>
                      <%= image_tag post.image, class: "img-fluid-rounded", style: "max-width: 300px;" %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            
          
        </div>  
        

    </div>
    <% if Current.user.ending %>
      <%= link_to "編集", edit_ending_path(@ending) %>
    <% end %>
    </div>
  <div class="col-8">
    <%= image_tag "memorisu.png", class:"character img-fluid rounded-circle" %>
  </div>
  <%= link_to "＜ マイページへ", mypage_path %>
</div>