

<% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class="container mt-4">
  <div class="row justify-content-center">
      <div class="col-md-8">
      <h5>編集画面</h5>
      
<%= form_with model: @post do |f| %>
  <div class="card mt-4">
      <div class="card-body">

  <p>タイトル</p>
  <%= f.text_field :title %>
  
  <p>本文</p>
  <%= f.text_area :body %>

  <p>画像</p>
  <% if @post.image.attached? %>
    <%= image_tag @post.image, size: "200x200" %>

    <div>
      <%= check_box_tag :remove_image, "1" %>
      <%= label_tag :remove_image, "画像を削除する" %>
    </div>
  <% end %><br>

  <%= f.file_field :image %><br>
  <br>
  <p>公開設定</p>
    <div class="form-check form-check-inline">
      <%= f.radio_button :is_publish, true, class: "form-check-input", id: "post_is_publish_true" %>
      <%= f.label :is_publish_true, "公開", class: "form-check-label", for: "post_is_publish_true" %>
    </div>

    <div class="form-check form-check-inline">
      <%= f.radio_button :is_publish, false, class: "form-check-input", id: "post_is_publish_false" %>
      <%= f.label :is_publish_false, "非公開", class: "form-check-label", for: "post_is_publish_false" %>
    </div><br>
  <br> 
  <%= f.submit '保存' %><br>
  <%= link_to "削除", post_path(@post),  data: { turbo_method: :delete, turbo_confirm: "本当に削除？" } %><br>
  
<% end %>
        </div>
      </div>
    </div>
    
  </div>
  <%= link_to "＜ マイページへ", mypage_path %>
    <%= link_to "Mypostへ ＞", mypost_path %>
</div>

