<h1>投稿フォーム</h1>
<%= form_with model: @post do |f| %>
  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>本文</h4>
  <%= f.text_area :body %>
  <h4>公開設定</h4>
  <%= f.radio_button :is_publish, true, id: "post_is_publish_true" %>
  <%= f.label :is_publish, "公開", for: "post_is_publish_true" %>
  <%= f.radio_button :is_publish, false, id: "post_is_publish_false" %>
  <%= f.label :is_publish, "非公開", for: "post_is_publish_false" %><br>
  <%= f.submit '投稿' %>
<% end %>