<% if @post.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h5>投稿フォーム</h5>
      <%= form_with model: @post do |f| %>
        <div class="card mt-4">
          <div class="card-body">
  <p>画像</p>
  <%= f.file_field :image, accept: "image/*" %>
  <p>タイトル</p>
  <%= f.text_field :title %>
  <p>本文</p>
  <%= f.text_area :body %>
 <div class="mb-3">
 <p>公開設定</p>
    <div class="form-check form-check-inline">
      <%= f.radio_button :is_publish, true, class: "form-check-input", id: "post_is_publish_true" %>
      <%= f.label :is_publish_true, "公開", class: "form-check-label", for: "post_is_publish_true" %>
    </div>

    <div class="form-check form-check-inline">
      <%= f.radio_button :is_publish, false, class: "form-check-input", id: "post_is_publish_false" %>
      <%= f.label :is_publish_false, "非公開", class: "form-check-label", for: "post_is_publish_false" %>
    </div>
  </div>
  <%= f.submit '保存' %><br>
          </div>
        </div>
      </div>
    </div>
    <br><%= link_to "＜ マイページへ", mypage_path %>
  </div>
<% end %>