<p><%=@post.title %></p>

<p><%=@post.body %></p>

 <% if @post.image.attached? %>
    <%= image_tag @post.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'letter.png', size: "200x200" %>
  <% end %>
  
<%= link_to "編集", edit_post_path(@post) %>
